
@{
	Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div class="row">
	<div class="col-xs-12">
		<div class="welcome-message">
			<div class="welcome-image">
				<img src="/content/images/logo-full.png" alt="">
			</div>
			<div class="welcome-text">
				<h2>Добро пожаловать, чуваки</h2>
				<p> Это университетский проект двух вечно сонных, вечно голодных студентов, сделанный с теплом, любовью и недосыпом для вас! Это портал для статей, похожий на Википедию, правда, не зарегавшись вы не сможете ничего менять. Сайт не имеет какой-либо категории, направленности или чего-либо еще. Вам предстоит наполнить смыслом это место. Зарегистрироваться можно, нажав кнопочку сверху справа. А еще лучше будет прочитать статью о том, как пользоваться ресурсом и начать творить. </p>
				<em style="overflow: visible">О̼̰͙̊̎ͧс͖͔͈͗ͧ̀̀ͯ́͛̄в̞͇̙͇͔̥̃ͯ͐ͭ̔о̱̜̲͗ͥ͊й͓͎̣̙̠͋̇͋ͥͩ̍ͅт͍͈̾ͨ͐ͪ̃ͤͤͅе̠̼̓ͬ̚ ̯̗̝̫̜̻͉͈̓э̟̲̜̮͑ͪ̃т̤̲̪ͩͯ̇о͉̬̮̜̝̞̯̆̃ ̮̣̟̖̳̞̞͇ͦ̌ͦм̦͙͖̲̦̞̰̊̎͌ͬ̚̚ͅе͓̹̹̯̇̈́ͩ̅̊͑͑̀с͇̙̰ͥ̈̅̎̄т͖̭̱͚̜͙̪̎̌ͫ̓о̞̺͕͍̙ͮ̈ͨ͆͒̇́ͥ̓!͙̭̱̮̯̭̘ͬ͌</em>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		@using (Html.BeginForm("Index", "Search", FormMethod.Get))
		{
			<div class="form-group">
				<div class="input-group input-group-lg">
					@Html.TextBox("query","", htmlAttributes: new { @class = "form-control", placeholder = "О чем хотите узнать?" })
					<span class="input-group-btn">
						<button class="btn btn-warning" type="submit">
							<span class="hidden-xs">Искать статью</span>
							<i class="fa fa-search visible-xs"></i>
						</button>
					</span>
				</div>
			</div>
		}
	</div>
</div>

<div class="row">

	<div class="col-xs-12 col-sm-8 col-lg-9">
		<div class="panel panel-success"> @{ /* TODO: [Articles] Implement when done */ }
			<div class="panel-heading">
				<h3 class="panel-title">Случайная статья</h3>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<h1>Le Memes</h1>
					<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat rem, ab, eveniet vero, ipsum facilis ducimus reprehenderit exercitationem, suscipit accusantium vel fugit. Perspiciatis sint, cupiditate, at dolor quo consequuntur dicta!</span>
						<span>Eligendi voluptates velit excepturi laudantium optio aliquam corrupti, error, deleniti a esse vel? Cumque dolore quibusdam explicabo nisi, veritatis iure est animi doloribus quos blanditiis debitis iste maiores, voluptate molestiae.</span>
						<span>Ad voluptas ipsa, fugit suscipit. Maxime, natus mollitia odio nam ex explicabo, nihil fugiat quae distinctio, sequi eum minus dolorem iure quasi praesentium possimus. Fugiat reprehenderit voluptatum inventore explicabo porro.</span>
						<span>Alias officiis laborum quisquam placeat suscipit earum vitae quam perferendis officia fuga rem, sequi distinctio harum similique accusantium ullam, odit corporis magnam dolores, amet, ipsa. Hic animi itaque voluptatibus inventore!</span>
						<span>Veritatis dolorum saepe eum, facilis enim velit vero maxime quo. Vero quibusdam quidem veritatis velit, dicta expedita illo provident deserunt aut fugit nisi quaerat amet, reprehenderit optio architecto eius perspiciatis.</span>
						<span>Dolorum quisquam magnam tempora ea cum tenetur? Quo assumenda consectetur, voluptatum voluptate rerum earum nulla inventore ipsam repellendus porro quaerat! Repudiandae mollitia eum suscipit commodi voluptatum, impedit amet iste. Mollitia!</span>
					</p>
				</div>
					<a href="#!" class="list-group-item text-right">
						Читать далее
						<i class="fa fa-arrow-right"></i>
					</a>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-4 col-lg-3">
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h3 class="panel-title">Ссылки</h3>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<a href="#!"> @{ /* TODO: [Articles] Implement when done */ }
						<i class="fa fa-question"></i>
						Как пользоваться сайтом
					</a>
				</li>
				<li class="list-group-item">
					<a href="https://github.com/STeeL835/wiki-site-rgr">
						<i class="fa fa-github"></i>
						Github
					</a>
				</li>
				<li class="list-group-item">
					<a href="https://vk.com/steel835">
						<i class="fa fa-vk"></i>
						Дмитрий
					</a>
				</li>
				<li class="list-group-item">
					<a href="https://vk.com/id70469726">
						<i class="fa fa-vk"></i>
						Евгений
					</a>
				</li>
			</ul>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Пожертвуйте хорошую оценку</h3>
			</div>
			<div class="panel-body">
				Ну пелз
			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Как пользоваться (кратко)</h3>
			</div>
			<div class="list-group">

				<div class="list-group-item">
					Читать могут все. Редактировать могут зарегистрированные пользователи. По умолчанию показывается последняя правка, можно голосовать за или против, если против перевешивает, то правка становится недоверенной. Модераторы отдают решающий голос.
				</div>
				<a href="#!" class="list-group-item text-right">
					@{ /* TODO: [Articles] Implement when done */ }
					Подробнее
					<i class="fa fa-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-success"> @{ /* TODO: [ArticlesComments] Implement when done */ }
			<div class="panel-heading">
				<h3 class="panel-title">Последний комментарий</h3>
			</div>
			<div class="list-group">
				<a href="#!" class="list-group-item">
					<h4 class="list-group-item-heading">Белэш-оглы</h4>
					<p class="list-group-item-text">Скорбим по лягушонку Пепе. Вечная ему память.</p>
				</a>
			</div>
		</div>
	</div>
</div>

