@model WikiSite.PL.ASP.Models.ArticleVM

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header">
    <a href="@Url.Action("Details", "Articles", new { shortUrl = ViewBag.ShortUrl })" title="К списку версий" class="btn btn-link page-back-button"><i class="fa fa-angle-left"></i></a>
    @ViewBag.Title
</h1>

<form method="post" class="form-override">
    @Html.Partial("~/Areas/Admin/Views/Shared/ArticlesEditorMDPartial.cshtml", Model)
    <button class="button-override">Отправить</button>
</form>