.table-max-width-100 {overflow: hidden;
    max-width: 100px;
}

.table-max-width-200 {overflow: hidden;
    max-width: 200px;
}

.form-override {
    text-transform: none;
    font-weight: unset;
    width: 100%;
}

.button-override {
    display: block;
    width: 100%;
}

@media(min-width: 768px) {
    .label-override {
        margin-top: 2px; /*ololololololo*/
        display: block;
        text-align: right;
    }
}