@model WikiSite.PL.ASP.Models.ArticleVM

@{
    ViewBag.Title = "Создание статьи";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header">
    <a href="@Url.Action("Index")" title="К списку статей" class="btn btn-link page-back-button"><i class="fa fa-angle-left"></i></a>
    @ViewBag.Title
</h1>

<form method="post" class="form-override">
    @Html.Partial("~/Views/Shared/ArticlesEditorMDPartial.cshtml", Model)
    <button class="button-override">Отправить</button>
</form>