@model IEnumerable<WikiSite.PL.ASP.Models.UserVM>

@{
	ViewBag.Title = "Все пользователи";
	Layout = "../Shared/_Layout.cshtml";
}

<h1 class="page-header">Управление пользователями</h1>

<!-- Main Actions -->
<div>
	@Html.ActionLink("Добавить пользователя", "Create", null, new { @class = "btn btn-primary" })
	@Html.ActionLink("Проверить данные для входа", "CheckCredentials", null, new { @class = "btn btn-primary" })
	@using (Html.BeginForm("Search", "Users", FormMethod.Get, new { style = "display: inline-block"}))
	{
		@Html.TextBox("query", "", new { @class = "form-control" });
	}
</div>

@Html.Partial("_UsersTablePartial", Model)
